.main-container {
  padding: 10%;
}
.body-content {
  margin-top: 4%;
  margin-bottom: 4%;
  text-align: center;
}
.header-info {
  text-align: center;
  color: blue;
}
.footer-info {
  text-align: center;
}
.total {
  text-align: center;
}
