.sub {
  width: 90%;
}

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.input-container{
  margin-bottom: 5%;
  text-align: left;
}

.label{
  font-size: large;
  font-weight: bold;
}

.main-container{
  background-image: url("../../../../assets/images/loginBack.jpg");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}

.go-back-div {
  padding: 10px; 
  font-size: 30px;
}