.sub {
  width: 90%;
}

.form-class{
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 3%;
}

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 10%;
}

.input-container{
  margin-bottom: 5%;
  text-align: left;
  font-size: larger;
  font-weight: 600;
}

.label{
  font-size: large;
  font-weight: bold;
}

.main-container{
  background-image: url('../../../../assets/images/registryBack.jpg');
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}

.go-back-div {
  padding: 10px; 
  font-size: 30px;
}