.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sub {
  width: 90%;
}

ion-input {
  border: 3px solid #03a9f4;
}
