<div class="main">
  <div class="sub">
    <form [formGroup]="authFormGroup">
      <div class="padding-bottom input-container">
        <ion-input 
          label="Cédula" 
          label-placement="floating" 
          formControlName="userID"
          fill="outline">
          </ion-input>
      </div>
      <div class="padding-bottom input-container">
        <ion-input 
          label="Contraseña" 
          label-placement="floating" 
          formControlName="password"
          [type]="showPassword ? 'text' : 'password'"
          fill="outline">
          <ion-icon slot="end" style="color: white;" [name]="showPassword ? 'eye-off-outline' : 'eye-outline'" aria-hidden="true" (click)="showPassword = !showPassword"></ion-icon>
          </ion-input>
      </div>
      <div class="padding-bottom">
        <a [routerLink]="['/registry']">Registrar</a>
      </div>
      <div>
        <ion-button
        color="tertiary"
          (click)="onSubmit()"
          form="authFormGroup"
          [disabled]="!authFormGroup.valid"
        >
          Login
        </ion-button>
      </div>
    </form>
  </div>
  <ion-icon class="whatsapp-icon" name="logo-whatsapp" (click)="sendWhatsappRequest()"></ion-icon>
</div>
<div>
  Version {{appVersion}}.
</div>